.parameters {
    padding: 18px;
}

.analytics-parameter-block {
    margin-top: 15px;
}

.analytics-item-row {
    display: flex;
    flex-direction: row;
}

.analytics-item-column {
    display: flex;
    flex-direction: column;
}

.chevron-down-icon {
    cursor: pointer;
    height: 16px;
    margin-top: 7px;
}

.chevron-right-icon {
    cursor: pointer;
    height: 16px;
    margin-top: 7px;
    transform: rotate(-90deg);
}

.analytics-item-description {
    font-size: 11px;
    padding-left: 26px;
}

.analytics-item-legend {
    padding-top: 5px;
    padding-left: 26px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.legend-item {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.legend-marker-green {
    margin-right: 6px;
    height: 15px;
    width: 15px;
    background: #06B87C;
    border-radius: 8px;
}

.legend-marker-red {
    margin-right: 6px;
    height: 15px;
    width: 15px;
    background: #C41C33;
    border-radius: 8px;
}

.legend-marker-yellow {
    margin-right: 6px;
    height: 15px;
    width: 15px;
    background: #FAB800;
    border-radius: 8px;
}

.legend-marker-purple {
    margin-right: 6px;
    height: 15px;
    width: 15px;
    background: #673A93;
    border-radius: 8px;
}

.d-none {
    display: none;
}

.spinner {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}