.parameters {
    padding: 18px;
}

.parameters-content {
    padding-left: 24px;
    padding-top: 20px;
}

.parameters-content-item {
    padding-top: 16px;
}

.routing-parameter-block {
    margin-top: 15px;
}

.routing-item-row {
    display: flex;
    flex-direction: row;
}

.routing-item-column {
    display: flex;
    flex-direction: column;
}

.chevron-down-icon {
    cursor: pointer;
    height: 16px;
    margin-top: 7px;
}

.chevron-right-icon {
    cursor: pointer;
    height: 16px;
    margin-top: 7px;
    transform: rotate(-90deg);
}

.d-none {
    display: none;
}

.label-isoline {
    margin-left: var(--lui-padding-base);
    margin-top: 5px; 
}

.label-default {
    color: var(--lui-text-color);
    font-size: 15px;
}

.space-between {
    justify-content: space-between;
}